header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 127, 80, 0.685);
    .logo{
        display: flex;
        align-items: center;
        img {
            width:3rem;
            padding: 0.5rem;
        }
        span{
            font-size: 2rem;
            color: black;
            font-family : Arial, Helvetica, sans-serif, times, serif;
        }
    }
    nav {
        a {
            color: black;
            text-decoration: none;
            font-family : Arial, Helvetica, sans-serif, times, serif;
            margin:0.5rem;
            padding: 0.5rem;
        }
    }
}