header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 106, 255);
    height: 4rem;
    .margin-auto {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 90rem;
    }
    .logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
            width: 3rem;
        }
        span {
            font-size: 2rem;
            color: white;
            font-family: Arial, Helvetica, sans-serif, times, serif;
            padding: 1rem;
        }
    }
    nav {
        a {
            color: white;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif, times, serif;
            padding: 1rem;
        }
    }
}