footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 106, 255);
    height: 3rem;
    a {
        color: white;
        text-decoration: none;
        padding: 1rem;
        font-family: Arial, Helvetica, sans-serif, times, serif
    }
}