<form [formGroup]="f" (ngSubmit)="onSubmit()">
  <div>
    <textarea cols="30" rows="4" formControlName="desc"></textarea>
  </div>
  <div>
    <label>Priorité : </label>
    <input type="number" formControlName="prio" value="0">
  </div>
  <div>
    <button type="reset">Effacer</button>
    <button [disabled]="f.invalid">Submit</button>
  </div>
</form>
<BR>
<BR>
<button [disabled]="!hasSelectedRecord()" >Remove</button>
<BR>
<BR>
<div class="table">
  <div class="row header">
    <div class="col col-1">Description</div>
    <div class="col col-2">Priorité</div>
  </div>
  <div (click)="toggleSelection(r)" *ngFor="let r of todolist" class="row" [class.selected]="isSelected(r)" >
    <div class="col col-1">{{r.desc}}</div>
    <div class="col col-2">{{r.prio}}</div>
  </div>
</div>